@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Roboto+Condensed:ital@1&display=swap");


/* Hide the vertical scrollbar */
body {
    overflow-y: scroll; /* Always show a scrollbar to prevent content shifting */
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar for IE and Edge */
}

/* Hide the scrollbar for WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
}



*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


:root{
    --bg-color: #1f242d;
    --second-bg-color: #32363d;
    --text-color: #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    margin: 0;
}


.logo{
    margin-left: 1rem;
    width: 12rem;
    height: 11rem;
}

/* slider */
.slider{
    height: 100vh;
    width: 100%;
    margin-top: 0px;
    position: relative;
}

.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 15%, transparent);
}

.slider .list .content{
    font-size: 1.5rem;
    bottom: 200rem;
}

.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 13%;
    width: 900px;
    max-width: 90%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content h2{
    font-size: 75px;
    font-weight: 400;  
    font-style: inherit;     
    margin: 0;
    margin-bottom: 2rem;
}

.slider .list .item .content h3{
    font-size: 60px;
    font-weight: 500;
    font-style: inherit;
    margin: 0;
}

.slider .list .item .content p{
    margin-bottom: 0rem;
}

.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
    
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active h3,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .4s .5s ease-in-out 1 forwards;
}


.slider .list .item.active h2{
    animation-delay: 0.5s;
}

.slider .list .item.active h3{
    animation-delay: 0.5s;
}

.slider .list .item.active p:nth-child(3){
    animation-duration: 1.5s;
}


/*  Slider 2 for read more individual pages */
/* slider */
.slider2{
    height: 100vh;
    width: 100%;
    margin-top: 0px;
    position: relative;
}

.slider2 .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider2 .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider2 .list .item::after{
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, #000 1%, transparent);
}

.slider2 .list .content{
    font-size: 1.5rem;
    bottom: 200rem;
}

.slider2 .list .item .content{
    position: absolute;
    left: 10%;
    top: 13%;
    width: 900px;
    max-width: 90%;
    z-index: 1;
}

.slider2 .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider2 .list .item .content h2{
    font-size: 75px;
    font-weight: 400;  
    font-style: inherit;     
    margin: 0;
    margin-bottom: 2rem;
}

.slider2 .list .item .content h3{
    font-size: 60px;
    font-weight: 500;
    font-style: inherit;
    margin: 0;
}

.slider2 .list .item .content p{
    margin-bottom: 0rem;
    width: 70vw; /* Set width to 70% of the viewport width */
    font-size: 1.5rem; /* Adjust font size as needed */
}

.slider2 .list .item.active{
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
    
}

.slider2 .list .item.active p:nth-child(1),
.slider2 .list .item.active h2,
.slider2 .list .item.active h3,
.slider2 .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .4s .5s ease-in-out 1 forwards;
}


.slider2 .list .item.active h2{
    animation-delay: 0.5s;
}

.slider2 .list .item.active h3{
    animation-delay: 0.5s;
}

.slider2 .list .item.active p:nth-child(3){
    animation-duration: 1.5s;
}


.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

.arrows button:hover{
    background-color: #eee;
    color: black;
}


.arrows2{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}



.thumbnail{
    position: absolute;
    bottom: 5px;
    z-index: 11;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: visible;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: center;
    animation: fadeInUp 2s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100px); /* Start the animation below its original position */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Move the thumbnails to their original position */
    }
}

@media (max-width: 768px) {
    .thumbnail .item {
        margin: 5px; /* Adjusts margin for smaller screens */
    }
}

.thumbnail::webkit-scrollbar{
    width: 0;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.8);
    transition: .5s;
    flex-shrink: 0;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.thumbnail .item:hover {
    transform: scale(1.1); /* Enlarge the thumbnail on hover */
    overflow: hidden;
    z-index: 1; /* Ensure the enlarged thumbnail is on top of others */
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active{
    filter: brightness(1.5s)
}

.thumbnail .item .content{
    font-size: 1.8rem;
    position: absolute;
    inset: auto 10px 10px 10px;
}


@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: flex-start;
        padding-left: 5px;
    }
    .slider .list .item .content h2{
        font-size: 60px;
        line-height: 1.1;
        margin-bottom: 3rem;
    }
    .arrows{
        top: 55%;
    }
    .slider .list .item .content{
        top:15%;
        left: 5%;
        right: 5%;
    }
    .slider .list .item .content p{
        margin-bottom: 2rem;
    }
    .slider2 .list .item .content h2{
        font-size: 60px;
        line-height: 1.1;
        margin-bottom: 3rem;
    }
    .slider2 .list .item .content{
        top:15%;
        left: 5%;
        right: 5%;
    }
    .slider2 .list .item .content p{
        margin-bottom: 2rem;
    }
    
}a








/* Style for the popup notification*/
.popup-copied {
    position: fixed;
    width: 225px;
    font-size: 1.5rem;
    top: 90%;
    left: 35%;
    transform: translate(-50%, -50%);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 15px;
    display: none;
    animation: fadeInOut 1.5s;
}


/* All navbar options */
.navbar{
    margin-right: 50px;
}

.navbar a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-color);
    margin-left: 6rem; /* space between navbar items */
    position: relative;
    transition: 0.3s;
}

.navbar a:hover{
    color: var(--main-color);
}

/* put the red underline for the text but hides it */
.navbar a::after{
    content: '';
    width: 0;
    height: 4px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all .5s ease ;    
}

/* transition effect when cursor hovers over the text */
.navbar a:hover::after{
    width: 105%;
} 




#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}


.socials a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 4rem 2rem 3rem 0;
    transition: 0.5s ease;
}

.socials a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}






/* Formatting for the red button */
.btn{
    display: inline-block;
    padding: 0.8rem 2.3rem;
    background: #ff004f;
    border-radius: 1rem;
    box-shadow: 0 0 1.6rem #ff004f;
    font-size: 1.5rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition :1s ease;
    margin-top: 1.2rem;
    /* animation: wobble 3s ease-in-out infinite; */
    animation: shake 5s ease-in-out infinite;
}

.btn:hover {
    box-shadow: none;
}


@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-1px);
    }
    50% {
      transform: translateX(1px);
    }
}


.btn2{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition :1s ease;
    margin-top: -2.5rem;
    animation: shake 3s ease-in-out infinite;
}

.btn2:hover {
    box-shadow: none;
}

/* Used in the music-events.html contact button */
.btn3{
    display: inline-block;
    padding: 0.8rem 2.3rem;
    background: rgb(196, 2, 196);
    border-radius: 1rem;
    box-shadow: 0 0 1.6rem rgb(196, 2, 196);
    font-size: 1.5rem;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition :1s ease;
    margin-top: 1.2rem;
    /* animation: wobble 3s ease-in-out infinite; */
    animation: shake 5s ease-in-out infinite;
}

.btn3:hover {
    box-shadow: none;
}


.btn4{
    display: block; /* Change display to block */
    padding: 0.8rem 2.3rem;
    background: #ff004f;
    border-radius: 1rem;
    box-shadow: 0 0 1.6rem #ff004f;
    font-size: 1.5rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition :1s ease;
    margin-top: 1.2rem;
    margin-left: auto; /* Set left margin to auto */
    margin-right: auto; /* Set right margin to auto */
    /* animation: wobble 3s ease-in-out infinite; */
    animation: shake 5s ease-in-out infinite;
    opacity: 100%;
}

.btn4:hover {
    box-shadow: none;
}


/* For the whole contact secction */
.contact
{
    position: relative;
    width: 100vw;
    max-width: 100vw; 
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    margin-top: -47vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;     
}

/* FOR THE CONTACT FORM and location, phone and email container */
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    background-color: none;
    border-radius: 0.8rem;
    color: var(--second-bg-color);
    /* opacity: 90%; */
}

.container .contactInfo{
    width: 50%;
    margin-left: -20%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

/*For the p text on the contact page*/
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.container .contactInfo .box .text{
    display: block;
    margin-left: 20px;
    font-size: 16px;
    color: var(--second-bg-color);
}

.container .contactInfo .box .text p{
    font-weight: 100;
    color: rgb(0, 255, 247);
    font-size: 1.5rem;
    display: block;
    margin: 0;
}

.container .contactInfo .box .text h3{
    font-weight: 400;
    color: white;
    font-size: 4rem;
    display: block;
    margin: 0;
}




/* for the contact form */
.contactForm{
    width: 40vw;
    padding: 4rem;
    margin-left: 20%;
    margin-right: -40%;
    margin-top: 10%;
    /* margin-bottom: %; */
    background: var(--bg-color);
    border-radius: 2.5rem;
    border: 0.2rem solid var(--main-color);
    box-shadow: 0 0 0.8rem rgb(128, 0, 0);
    opacity: 90%;
}

.contactForm h1{
    font-weight: 500;
    color: white;
    margin-top: -3%;
    text-align: center;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
    color: var(--text-color);
}

/* contact form fields */
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;    
}

.contactForm .inputBox input{
    
    width: 100%;
    padding: 5px 0;
    font-size: 15px;
    margin: 10px 0;
    border: 2px solid #333;
    border-radius: 1rem;
    outline: none;
    background-color: var(--second-bg-color);
    
}

.inputBox textarea {
    width: 100%;
    border-radius:  1rem;
    background-color: var(--second-bg-color);
    color: white;
}

.inputBox input{
    color: white;
}


/* Popup notification */
.popup{
    width: 600px;
    background: #2d2e2f;
    border-radius: 4rem;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.5s;
    border: 0.2rem solid var(--main-color);
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, 50vh) scale(1)
}

.popup{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
}

/* For "Thank you" text */
.popup h2{
    font-family: 'Montserrat';
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 20px;
}

/* h5 for the "Your details have been submitted" */
.popup h5{
    font-family: 'Montserrat';
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 10px;
}

.popup a i{
    font-size: 8rem;
    color: #7700ff;
    margin-top: 2rem;
    border-radius: 70%;
}

.popup p{
    font-size: 1.8rem;
    margin-top: -20px;
}

.popup button{
    width: 100%;
    margin-top: 25px;
    padding: 10px 0;
    background: rgb(42, 42, 228);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}



/* Footer section */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    /* margin-left: 8rem; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    background: var(--bg-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

.footer-iconTop{
    margin-left: 100px;
    margin-right: -35px;
}

.footer-iconTop a i{
    font-size: 4rem;
    color: rgb(200, 38, 240); /* Color of the up arrow */
}

.footer-contact {
    font-size: 1.6rem;
    text-align: right; /* Align contact info to the right */
    display: flex;
    flex-direction: column; /* Stack the contact paragraphs */
    align-items: flex-end; /* Align contact paragraphs to the right */
    margin-left: auto;
}

.footer-contact span{
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.6rem;
    margin-left: 1rem;
    color: white;
}

.footer-contact p i{
    vertical-align: bottom;
    margin-top: 1rem;
    font-size: 2.5rem;
}

/* About me html page */
.about-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2.2rem 9%;
    background: var(--bg-color);
}

.about-footer-text p{
    font-size: 1.4rem;
    margin-top: 1.150rem;
    /* flex: 5rem; */
}

.about-footer-contact {
    font-size: 1.4rem;
    text-align: center; /* Align contact info to the right */
    display: flex;
    /* flex-direction: column; Stack the contact paragraphs */
    align-items: flex-end; /* Align contact paragraphs to the right */
    /* margin-left: 15%; */
}

.about-footer-contact span{
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.4rem;
    margin-left: 0.4rem;
    color: white;
}

.about-footer-contact p i{
    vertical-align: bottom;
    margin-top: 1rem;
    font-size: 2rem;
    margin-left: 65px;
}





/* Timeline for education.html */
.timeline{
    position: relative;
    max-width: 1300px;
    margin: 100px auto;
}
.timeline a{
    color: white;
    text-decoration: underline;
    font-style: italic;
}

.container1{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    /* background: rgba(0, 0, 0, 0.3); */
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


.container1:nth-child(1){
    animation-delay: 0s;
}
.container1:nth-child(2){
    animation-delay: 1s;
}
.container1:nth-child(3){
    animation-delay: 2s;
}
.container1:nth-child(4){
    animation-delay: 3s;
}
.container1:nth-child(5){
    animation-delay: 4s;
}
.container1:nth-child(6){
    animation-delay: 5s;
}
.container1:nth-child(7){
    animation-delay: 6s;
}


.text-box{
    padding: 20px 30px;
    background: linear-gradient(135deg, #394867, #1c8ca7);
    position: relative;
    border-radius:4rem;
    font-size: 15px;
    box-shadow: 0 0 1.5rem 0.5rem rgba(0, 163, 251, 0.2), inset 0 0 10px 5px transparent;
    /* background: linear-gradient(135deg, #d8b1e9, #8e65af); */

}

.text-box h2{
    font-style: 'Poppins';
    font-size: 30px;
    font-weight: 700;
    margin-bottom: rem;
    color: rgb(179, 0, 255);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
}

.text-box small{
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 700;
    color: rgb(0, 251, 255);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
}

.text-box p{
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

/* Logos on education.html page */
.container1 i{
    font-size: 5rem;
    color: rgb(249, 95, 0);
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: -25px;
    top: 40%;
    z-index: 10;

    background-color: var(--bg-color); /* Set the background color you want */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


.right-container i{
    left: -25px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 10px;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 45%;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #1c8ca7;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 45%;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #394867;
    left: -15px;
}



@media screen and (max-width: 600px){

    .timeline{
        margin: 150px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container1{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .right-container{
        width: 100%;
        margin-left: -280px;
    }
    .text-box{
        font-size:13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }

    .left-container i{
        left: 7px;
    }
    .right-container i{
        left: 7px
        
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
};
    








/*----------Breakpoints----------*/


@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}


@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    .section{
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}


@media (max-width: 768px) {
    #menu-icon {
        display: block;
        z-index: 1002;
    }

    .navbar{
        position: fixed;
        top: 0%;
        left: 0;
        width: 100%;
        height: 50%;
        padding: 1rem 3%;
        background: var(--bg-color);
        opacity: 0.96;
        transform: translateX(100%); /* Initially off-screen */
        transition: transform 0.3s ease; /* Smooth transition for sliding in */
        z-index: 1001;
        border-top: 0.1rem rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }

    .navbar.active{
        display: block;
        transform: translateX(0);
    }

    .navbar a{
        display: block;
        justify-content: flex-start;
        font-size: 2rem;
        text-align: center;
        top: 8%;
        margin: 3rem 0;
    }
    /* put the red underline for the text but hides it */
    .navbar a::after {
    display: none;
}


    

    
}

@media(max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}


@media(max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}


@media(max-width: 365px) {
    .home-img img{
        width: 90vw;
    }

    .about-img img{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

